<!-- partial for head -->
<%- include('./partials/header') %>

    <body>
        <%- include('./partials/nav') %>
            <% if (user) { %>
                <div class="add-category-btn"></div>
                <form action="/category/new">
                    <input type="submit" value="Add Category" />
                </form>
                <div>
                    <% } %>
                        <div class="container">

                            <div class="row row-cols-3">
                                <% categories.forEach(category=>{ %>
                                    <div class="category col">
                                        <a href="/category/<%= category._id %> ">
                                            <%=category.name%>
                                        </a>
                                    </div>
                                    <% }) %>
                            </div>
                        </div>
    </body>
    <!-- partial for footer -->
    <%- include('./partials/footer') %>