<!-- partial for head -->
<%- include('../partials/header') %>
    <%- include('../partials/nav') %>
        <div class="category-header">
            <%= category.name %>
        </div>

        <% if (user) { %>
            <div class="add-meme-btn"></div>
            <form action="/memes/<%= category._id %>/addmeme">
                <input type="submit" value="Add Meme" />
            </form>
            <div>
                <% } %>
                    <div>
                        <% images.forEach(function(img) { %>
                            <div>
                                <div>
                                    <img class="uploaded-image "
                                        src='data:<%= img.contentType %>;base64,<%= img.imageBase64%>' alt="an image">

                                    <% if (img.user.equals(user && user._id)) { %>
                                        <form action="/memes/<%= img._id %>/del?_method=DELETE" method="POST">
                                            <button type="submit" class="btn btn-danger">Delete</button>
                                        </form>
                                        <% } %>
                                </div>
                            </div>
                            <% }) %>
                    </div>


                    <!-- partial for footer -->
                    <%- include('../partials/footer') %>